# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv312/
env/
ENV/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE files
.idea/
.vscode/

# Other
.DS_Store
